
<p>
	I know how confusing compliance can be, having worked at a regulatory agency.
</p>

<p>
	And I understand why new business owners seldom take time to learn compliance. They can just pay someone to do it. Where's the value in learning?
</p>

<p>
	But would you start an online app business with ZERO knowledge of coding? 
<p>

<p>
	Just think about why coding courses are so popular these days. Even if you have no wish to code, it's vital to know how it works - at least understand what your programmers are trying to build for you.
</p>

<p>
	There are so many great online coding resources that are free. Why shouldn't it be the same for compliance?
</p>

<p>
	<em> Thanks for stopping by! I hope this resource can be of use to you. </em>
</p>

