<p>
	<em>
	Do you feel more mystified after speaking to your compliance partner? 
	Do you feel more lost? 
	</em>
	
	Are you tired of paying more and more fees? And for hidden requirements? For instance, do you know that companies no longer require a company seal since 31 March 2017. Are you still paying for one?

	Compliance used to be routine. But that is changing. New changes to the out XX changes to the Companies Act come out every year. Can you keep up? 
</p>