
	
<h3>
	Lean startups don't actually need a compliance professional's help. It may be easier to DIY. Not to mention cheaper.
</h3>

<br>

<p>
	When was the last time a compliance agent/ secretary/ accountant/ lawyer told you that? But it's possible.
</p>

<p>
	For a start, browse the FAQ. 
</p>

<p>
	I've tried to explain to simple, layman terms what the compliance terms are. If you still think something is too difficult to understand, let me know and I will try to explain it simpler.
</p>


<p>
	You've come to the right place -- if you are clueless about starting a business, if the thought the compliance overwhelms you, if you feel confused by the information out there, so much yet often conflicting. Here, I'd like to offer real advice that will benefit you and save you money, while taking the mystery out of compliance.
</p>


<p>
	<em> Thanks for stopping by! Check back often for new updates. </em>
</p>

